* {
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 3rem auto;
}

/* This is the code for CSS-Grid-Layout.png */

/*-------- LAYOUT IN FLEX: --------*/

/* .container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  background-color: lightgray;
  margin: 0.5rem;
  border: 1px solid black;
  flex: 1 1 20%;
  height: 7rem;
}

div:nth-child(2) {
  flex: 0 1 10%;
  background-color: lightgreen;
}

div:nth-child(4) {
  flex: 3 0 40%;
  background-color: skyblue;
} */

/*-------- LAYOUT IN GRID: --------*/

.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 20% 1fr 40%;
  grid-template-rows: 14rem 3rem 6rem 6rem 6rem;
}

.container div {
  background-color: lightgray;
  margin: 0.5rem;
  border: 1px solid black;
}

div:nth-child(4n + 2) {
  background-color: lightgreen;
}
div:nth-child(4n) {
  background-color: skyblue;
}
